[
  {
    "ParameterKey": "SystemName",
    "ParameterValue": "fsx-lab"
  },
  {
    "ParameterKey": "EnvType",
    "ParameterValue": "dev"
  },
  {
    "ParameterKey": "VpcCidr",
    "ParameterValue": "10.0.0.0/16"
  },
  {
    "ParameterKey": "PublicSubnetCidr",
    "ParameterValue": "10.0.1.0/24"
  },
  {
    "ParameterKey": "PrivateSubnetCidr",
    "ParameterValue": "10.0.2.0/24"
  },
  {
    "ParameterKey": "AvailabilityZone",
    "ParameterValue": "ap-northeast-1a"
  }
]